<div class="container-fluid mt-navbar bg-daner py-4" style="background-color: #2C3E50;">
  <div class="container py-5">
  <div class="row py-5">
      <div class="col-md-4 text-center">
          <h3 style="color: white;">LOCATION</h3>
          <p class="text-white">2215 John Daniel Drive</p>
          <p class="text-white">Clark, MO 65243</p>
      </div>
      <div class="col-md-4 text-center">
          <h3 class="text-white">AROUND THE WEB</h3>
          <div class="container">
            <ul class="list-unstyled d-flex flex-wrap justify-content-center mt-3" style="gap: 0.5rem;">
              <li><span class="p-1 border border-white rounded-circle p-2"><fa-icon [icon]="faFacebook" style="color: #fff; font-size: 20px;"></fa-icon></span></li>
              <li><span class="p-1 border border-white rounded-circle p-2"><fa-icon [icon]="faTwitter" style="color: #fff; font-size: 20px;"></fa-icon></span></li>
              <li><span class="p-1 border border-white rounded-circle p-2"><fa-icon [icon]="faLinkedin" style="color: #fff; font-size: 20px;"></fa-icon></span></li>
              <li><span class="p-1 border border-white rounded-circle p-2"><fa-icon [icon]="faGlobe" style="color: #fff; font-size: 20px;"></fa-icon></span></li>
            </ul>
          </div>
      </div>
      <div class="col-md-4 text-center">
          <h3 class="text-white">ABOUT FREELANCER</h3>
          <p class="text-white">Freelance is a free to use, open source Bootstrap theme created by <a href="#" style="color: white;">Start Bootstrap</a>.</p>
      </div>
  </div>
  </div>
</div>

<footer class="py-4" style="background-color: #1A252F;">
  <div class="container">
    <div class="d-flex justify-content-center">
      <p class="text-white text-center mb-0">Copyright &copy; Your Website 2021</p>
    </div>
  </div>
</footer>
