<div class="mt-navbar">
    <div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #19BC9C;">
        <div class="container text-center" style="margin-top: -150px;">
            <h2 class="mb-2 text-white text-uppercase pt-4" style="font-size: 40px; font-weight: 700;">about component</h2>

            <div class="d-flex justify-content-center align-items-center mb-3">
                <div style="height: 4px; width: 100px; background-color: white; margin: 15px 0;"></div>
                <fa-icon [icon]="faStar" style="color: white; margin: 0 15px;"></fa-icon>
                <div style="height: 4px; width: 100px; background-color: white; margin: 15px 0;"></div>
            </div>

            <div class="container">
                <div class="lead m-3 text-white d-flex" style="font-size: 16px; font-weight: 400; text-align: left;">
                    <div style="flex: 1 1 auto;">
                        <p style="margin-right: 30px;">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                    <div style="flex: 1 1 auto;">
                        <p style="margin-left: 30px;">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
