<div class="mt-navbar">
    <div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #19BC9C;">
        <div class="container text-center" style="margin-top: -150px;">
            <img src="/images/avataaars.svg" width="260" height="260">
            
            <h2 class="mb-2 text-white text-uppercase pt-4" style="font-size: 40px; font-weight: 700;">Start Framework</h2>
            
            <div class="d-flex justify-content-center align-items-center mb-3">
                <div style="height: 4px; width: 100px; background-color: white; margin: 15px 0;"></div>
                <fa-icon [icon]="faStar" style="color: white; margin: 0 15px;"></fa-icon>
                <div style="height: 4px; width: 100px; background-color: white; margin: 15px 0;"></div>
            </div>

            <div class="lead mb-3 text-white" style="font-size: 16px; font-weight: 400;">Graphic Artist - Web Designer - Illustrator</div>
        </div>
    </div>
</div>
